{% load staticfiles %}
<html>
  <head>
    <title>Asterion - CYA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link href="static/css/full3d.css" rel="stylesheed">
    <link rel="shortcut icon" href="static/favicon.png" type="image/png">
    <script>
      window.passthrough_vars = {
      }
    </script>    


    <style type="text/css">
      body {
        margin: 0px !important;
      }
      .cr div input {
        margin-top: 3px;
        width: 167px;
      }
    </style>
  </head>
<body>
  <noscript>Sorry, this page requires Canvas/WebGL, so you'll need to enable JavaScript.</noscript>

<script type="x-shader/x-vertex" id="vertexshader">
    // MIT License.
    // Copyright Ian Webster 2012 (asterank.com)
    // https://github.com/typpo/asterank/blob/master/LICENSE
    #define pi 3.141592653589793238462643383279
    attribute vec3 value_color;
    varying vec3 vColor;
    attribute float size;
    uniform float earth_i;
    uniform float earth_om;
    uniform float jed;
    attribute float a;
    attribute float e;
    attribute float i;
    attribute float o;
    attribute float P;
    attribute float ma;
    attribute float n;
    attribute float w;
    attribute float epoch;
    attribute float locked;
    attribute float is_planet;
    varying float vLocked;
    varying float vPlanet;
    vec3 getAstroPos() {
      float i_rad = i * pi/180.0;
      float o_rad = o * pi/180.0; // longitude of ascending node
      float p_rad = w * pi/180.0; // LONGITUDE of perihelion
      float ma_rad = ma * pi/180.0;
      // Calculate mean anomaly at jed.
      float n_rad;
      if (n > 0.) {
        n_rad = n * pi/180.0; // mean motion
      } else {
        n_rad = 2.0 * pi / P;
      }
      float d = jed - epoch;
      float M = ma_rad + n_rad * d;
      // Estimate eccentric and true anom using iterative approx.
      float E0 = M;
      float E1;
      float lastdiff;
      // converted do/while:
      for (int iter=0; iter < 1000; iter++) {
        E1 = M + e * sin(E0);
        lastdiff = abs(E1-E0);
        E0 = E1;
        if (lastdiff < 0.0000001) {
          break;
        }
      }
      float E = E0;
      float v = 2.0 * atan(sqrt((1.0+e)/(1.0-e)) * tan(E/2.0));
      // radius vector, in AU
      float r = a * (1.0 - e*e) / (1.0 + e * cos(v)) * 50.;  // 50 pixels per AU
      // heliocentric coords
      float X = r * (cos(o_rad) * cos(v + p_rad - o_rad) - sin(o_rad) * sin(v + p_rad - o_rad) * cos(i_rad));
      float Y = r * (sin(o_rad) * cos(v + p_rad - o_rad) + cos(o_rad) * sin(v + p_rad - o_rad) * cos(i_rad));
      float Z = r * (sin(v + p_rad - o_rad) * sin(i_rad));
      return vec3(X, Y, Z);
    }
    void main() {
      vColor = value_color;
      vLocked = locked;
      vPlanet = is_planet;
      vec3 newpos = getAstroPos();
      vec4 mvPosition = modelViewMatrix * vec4(newpos, 1.0);
      gl_Position = projectionMatrix * mvPosition;
      gl_PointSize = size;
    }
</script>
<script type="x-shader/x-fragment" id="fragmentshader">
    // MIT License.
    // Copyright Ian Webster 2012 (asterank.com)
    // https://github.com/typpo/asterank/blob/master/LICENSE
    varying vec3 vColor;
    varying float vLocked;
    varying float vPlanet;
    uniform sampler2D planet_texture;
    uniform sampler2D small_roid_texture;
    uniform sampler2D small_roid_circled_texture;
    void main() {
      if (vLocked < .5) {
        if (vPlanet < .5) {
          gl_FragColor = vec4(vColor, 1.0) * texture2D(small_roid_texture,
            vec2(gl_PointCoord.x, 1.0 - gl_PointCoord.y));
        }
        else {
          gl_FragColor = vec4(vColor, 1.0) * texture2D(planet_texture,
            vec2(gl_PointCoord.x, 1.0 - gl_PointCoord.y));
        }
      }
      else {
        gl_FragColor = vec4(vColor, 1.0) * texture2D(small_roid_circled_texture,
          vec2(gl_PointCoord.x, 1.0 - gl_PointCoord.y));
      }
    }
</script>

<script type="application/x-glsl" id="sky-vertex">
varying vec2 vUV;
varying float vDensity;
varying float vDiff;
void main() {
  vUV = uv;
  vec4 pos = vec4(position, 1.0);
  gl_Position = projectionMatrix * modelViewMatrix * pos;
}
</script>

<script type="application/x-glsl" id="sky-density">
uniform sampler2D texture;
varying vec2 vUV;
void main() {
  vec4 sample = texture2D(texture, vUV);
  gl_FragColor = vec4(sample.xyz, sample.w);
}
</script>

  <!-- three.js container -->
  <div id="container"></div>
  <!-- info on screen display -->
  <div id="loading" style='position; absolute'>
    <!--<img src="/images/loader.gif"/> Loading <span id="loading-text"></span>...-->
    <img src="http://www.asterank.com/static/img/loader.gif"/> Loading asteroids from database...
  </div>
  <div id="not-supported" style="display:none;">
    <p>
    <strong>Sorry, your browser or graphics card doesn't support webgl.  Most features of the simulation will not be available.</strong>
    </p>
    <p>
    You may be able to see the simulation if you..
    </p>
    <h2><a href="http://google.com/chrome">Get Chrome</a><br>or<br><a href="http://getfirefox.com">Get Firefox</a></h2>
    <p>
    <input type="submit" onClick="window.location='/3d/notsupported.html';" value="See video preview (recommended)"/><br>
    <input type="submit" onClick="$('#not-supported').hide();return false;" value="Ignore for now"/>
    </p>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

  <script type="text/javascript" src="{% static "js/3d/lib/three.js/three.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/3d/lib/three.js/three.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/3d/lib/three.js/Detector.js" %}"></script>
  <script type="text/javascript" src="{% static "js/3d/lib/three.js/TrackballControls.js" %}"></script>
  <script type="text/javascript" src="{% static "js/3d/lib/threex/THREEx.WindowResize.js" %}"></script>
  <script type="text/javascript" src="{% static "js/3d/lib/threex/THREEx.FullScreen.js" %}"></script>
  <script type="text/javascript" src="{% static "js/3d/lib/dat.gui.js" %}"></script>
  <script type="text/javascript" src="{% static "js/3d/ellipse.js" %}"></script>
  <script type="text/javascript" src="{% static "js/3d/ephemeris.js" %}"></script>
  <script type="text/javascript" src="{% static "js/3d/util.js" %}"></script>
  <script type="text/javascript" src="{% static "js/3d/main.js" %}"></script>
  <script type="text/javascript" src="{% static "js/3d/full3d_loader.js" %}"></script>

  <div id="asteroidData" class="dg ac">
   <div class="dg main a" style="width: 455px;margin-right: -100px">
      <div style="width: 6px; margin-left: -3px; height: 224px; cursor: ew-resize; position: absolute;"></div>
      <ul style="height: auto;">
         <li class="cr function">
            <div>
               <span class="property-name">Eccentricity (E)</span>
               <input id="e" type="text" value="0.08879027843646621" name="e"/>
               
            </div>
         </li>
         <li class="cr function">
            <div>
               <span class="property-name">Inclination (I)</span>
               <input id="i" type="text" value="2.768108067009298" name="i" />
            </div>
         </li>
         <li class="cr function">
            <div>
               <span class="property-name">longitude of the ascending node (Ω)</span>
               <input id="om" type="text" value="62.36399100210148" name="om" />             
            </div>
         </li>
         <li class="cr function">
            <div>
               <span class="property-name">Argument of perihelion (W)</span>
               <input id="w" type="text" value="300.6986330539765" name="w" />
            </div>
         </li>
         <li class="cr function">
            <div>
               <span class="property-name">Semimajor axis (A)</span>
               <input id="a" type="text" value="2.747666931600445" name="a" />
            </div>
         </li> 
         <li class="cr function">
            <div>
               <span class="property-name">Epoch</span>
               <input id="epoch" type="text" value="2457200.5" name="epoch" />
            </div>
         </li>       
         <li class="cr function">
            <div>
               <span class="property-name">Mean anomaly (Ma)</span>
               <input id="ma" type="text" value="220.1004135757952" name="ma" />
            </div>
         </li>  
         <li class="cr function">
            <div>
               <span class="property-name">Period in days (P)</span>
               <input id="p" type="text" value="1663.583320494612" name="p" />
            </div>
         </li>  
         <li class="cr function">
            <div>
               <span class="property-name">Mean motion (n)</span>
               <input id="n" type="text" value="0.2164003423002377" name="n" />
            </div>
         </li>           
         <li class="cr function">
            <div>
               <span id="result"></span>
               <input id="check" type="button" value="Check" style="float: right; margin-right: 100px; margin-top : 3px" />
            </div>
         </li> 
          <li class="cr function">
            <div>
               <span id="result"></span>
               <input id="generateAsteroid" type="button" value="Generate asteroid" style="float: right; margin-right: 100px; margin-top : 3px" />
            </div>
         </li> 
      <li class="cr function">
            <div>
               <a id="showAbout" href="javascript:void(0);" style="float: left; margin-left: 2px; color: #ffffff">About</a>
               <a id="sun" href="javascript:void(0);" style="float: right; margin-right: 120px; color: #ffffff">Sun</a>
               <a id="earth" href="javascript:void(0);" style="float: right; margin-right: 10px; color: #ffffff">Earth</a>
            </div>
       </li> 
   </div>
</div>

<div id="about" class="dg ac" style="display: none">
   <div class="dg main a" style="width: 455px;margin-right: -100px">
      <div style="width: 6px; margin-left: -3px; height: 224px; cursor: ew-resize; position: absolute;"></div>
      <ul style="height: auto;">
          <li class="cr function" style="height: auto">
         <p style="width: 350px">The project aims at prediction of  undiscovered potentially hazardous asteroids' 
         orbital parameters using machine learning and computer simulations.<br></p>
         <p style="width: 200px">Contact info :</p>
         <p style="width: 250px">Eugene Shcherbina (<a href="mailto:sylechristo@gmail.com"> sylechristo@gmail.com</a>) ASP.NET MVC Developer </p>
         <p style="width: 200px">Vadym Pasko (<a href="mailto:keenon3d@gmail.com"> keenon3d@gmail.com</a>) Aerospace Engineer, Data Scientist</p>
         <p style="width: 200px">Andriy Blakitnij (<a href="mailto:homzilla@gmail.com"> homzilla@gmail.com</a>) <br>IT Engineer</p>
         </li>
         <li class="cr function">
            <div>
               <a id="home" href="javascript:void(0);" style="float: left; margin-left: 2px; color: #ffffff">Go to project</a>
            </div>
       </li> 
        </ul>
        </div>
 
</div>

<script type="text/javascript">
  
  $("#showAbout").click(function() {
      $("#asteroidData").hide();
      $("#about").show();
  });
  
  $("#sun").click(function() {
      window.arank.setSun();
      $("#result").html("");
  });
  
  
  $("#earth").click(function() {
      window.arank.setLock('earth');
      $("#result").html("");
  });
  
  $("#home").click(function() {
      $("#about").hide();
      $("#asteroidData").show();
  });
  
  $("#generateAsteroid").click(function() {
    $.get( "generate_asteroid", function( data ) {
        console.log(data);
        $("#epoch").val(data.epoch);
        $("#a").val(data.a);
        $("#e").val(data.e);
        $("#a").val(data.a);
        $("#i").val(data.i);
        $("#ma").val(data.ma);
        $("#n").val(data.n);
        $("#om").val(data.om);
        $("#p").val(data.p);
        $("#w").val(data.w);
    });
  });
  
  $("#check").click(function() {

    $.ajax({
        url : "check", // the endpoint
        type : "POST", // http method
        data : { 
          a : $('#a').val(),
          e : $('#e').val(),
          w : $('#w').val(),
          i : $('#i').val(),
          om : $('#om').val(),
        },

        // handle a successful response
        success : function(data) {
            var asteroid = {
                  full_name: Math.random().toString(),
                  epoch: parseFloat($('#epoch').val()),
                  a: parseFloat($('#a').val()),
                  e: parseFloat($('#e').val()),
                  i: parseFloat($('#i').val()),
                  w: parseFloat($('#w').val()),   // ARGUMENT of perihelion.  argument = longitude of perihelion - longitude of ascending node
                  om: parseFloat($('#om').val()),  // long of ascending node
                  ma: parseFloat($('#ma').val()),   // mean anomaly
                  P: parseFloat($('#p').val()),
                  n: parseFloat($('#n').val()),
            };
            
            window.arank.addAsteroid(asteroid);
            
            if (data.pha === 0) {
                $("#result").html("CLEAN (MOID: " + data.moid.toFixed(2) + ")");
                $("#result").css('color', 'lightgreen');
            } else {
                $("#result").html("DANGEROUS (MOID: " + data.moid.toFixed(2) + ")");
                $("#result").css('color', 'red');
            }

            console.log(data);
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });      
  });
    
</script>
  
</body>
</html>