<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    
    <style>
        .resultBox {
            text-align: center;
            vertical-align: middle;
            font-size: 38px;
        }
        
        .resultFail {
            color: red;
        }
        
        .resultSuccess {
            color: green;
        }
        
    </style>
    <!-- UFO Was here... -->
    <head>
         <div class="navbar navbar-inverse navbar-static-top">
                    <div class="containeer">
                          <div class="navbar-header">
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                               <span class="sr-only">Open navigatoin</span>
                               <span class="icon-bar"></span> 
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                                  </button>
                             <!-- <a class="navbar-brand" href="http://images.fastcompany.com/upload/Nasa-logo.JPG.jpeg">Logo</a> -->
                          </div>
                              <div class="collapse navbar-collapse" id="responsive-menu">
                                  <ul class="nav navbar-nav">
                                      <li><a href="https://n2k-1-nasa2016kr.c9users.io/">Home</a></li>
                                      <li><a href="https://2016.spaceappschallenge.org/challenges/solar-system/near-earth-objects-machine-learning">About project</a></li>
                                      <li><a href="index2.html">About us</a></li>
                                      <li><a href="http://www.asterank.com/">Asterank.com</a></li> 
                                  </ul>
                              </div>
                    </div>
        </div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
    </head>
    <body>
        <div class="container">
            <h1>Check your asteroid!</h1>
            
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                        <form action="" method="post">
                          {% csrf_token %}
                          <div class="form-group">
                            <label for="elH">H</label>
                            <input type="text" class="form-control" id="elH" placeholder="H" name="h" value="{{ h }}">
                          </div>
                          <button type="submit" class="btn btn-primary pull-right">Check</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="resultBox {{ resultClass }}">
                        {{ result }}
                    </div>
                </div>                
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>